<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186973897134-p63tel7kmjrvvvaqm8vpdgn2ffch2h95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186973897134-p63tel7kmjrvvvaqm8vpdgn2ffch2h95</string>
	<key>API_KEY</key>
	<string>AIzaSyDh-gGxsxB8cQlA44hy7ga7lWqwRLl4MrE</string>
	<key>GCM_SENDER_ID</key>
	<string>186973897134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Madava</string>
	<key>PROJECT_ID</key>
	<string>madava-project</string>
	<key>STORAGE_BUCKET</key>
	<string>madava-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186973897134:ios:5c48ea3e06ec28785bc83f</string>
	<key>DATABASE_URL</key>
	<string>https://madava-project-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>